:root {
  --black: #282a36;
  --green: #80cbc4;
  --red: #ef9a9a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  background-color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: white;
}

button {
  width: 100%;
  margin: 0.2rem;
  background-color: var(--black);
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
}

textarea {
  width: 100%;
  font-size: 1.5rem;
  padding: 0;
  resize: none;
  height: auto;
}

.container {
  display: flex;
  width: 320px;
  flex-direction: column;
  padding: 0.5rem;
}

@media (min-width: 321px) {
  .container {
    width: 60%;
    margin: 2rem auto;
    flex-direction: row;
  }
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.typing-test {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid var(--black);
  border-radius: 4px;
  min-width: 320px;
  width: 66%;
}

.preview {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.typing-speed {
  background-color: white;
  border: 1px solid var(--black);
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0;
  min-width: 320px;
  width: 33%;
  text-align: center;
}

@media (min-width: 321px) {
  .typing-speed {
    margin: 0 0.5%;
  }
}
